In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
movies = pd.read_csv("C:/Users/Lenovo/Downloads/archive (3)/tmdb_movies_data.csv")
movies

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/1966,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/1966,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/1966,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/1966,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/1966,15,1.5,1966,1.276423e+05,0.000000e+00

In [4]:
movies.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09

In [5]:
movies.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [6]:
df = movies[['id','original_title', 'popularity', 'overview','genres','tagline','vote_count']]

In [7]:
df.to_csv('C:/Users/Lenovo/Downloads/archive (3)/tmdb_movies_movies_dataset.csv', index=False)

In [8]:
df.head(10)

,id,original_title,popularity,overview,genres,tagline,vote_count
0,135397,Jurassic World,32.985763,Twenty-two years after the events of Jurassic ...,Action|Adventure|Science Fiction|Thriller,The park is open.,5562
1,76341,Mad Max: Fury Road,28.419936,An apocalyptic story set in the furthest reach...,Action|Adventure|Science Fiction|Thriller,What a Lovely Day.,6185
2,262500,Insurgent,13.112507,Beatrice Prior must confront her inner demons ...,Adventure|Science Fiction|Thriller,One Choice Can Destroy You,2480
3,140607,Star Wars: The Force Awakens,11.173104,Thirty years after defeating the Galactic Empi...,Action|Adventure|Science Fiction|Fantasy,Every generation has a story.,5292
4,168259,Furious 7,9.335014,Deckard Shaw seeks revenge against Dominic Tor...,Action|Crime|Thriller,Vengeance Hits Home,2947
5,281957,The Revenant,9.110700,"In the 1820s, a frontiersman, Hugh Glass, sets...",Western|Drama|Adventure|Thriller,"(n. One who has returned, as if from the dead.)",3929
6,87101,Terminator Genisys,8.654359,"The year is 2029. John Connor, leader of the r...",Science Fiction|Action|Thriller|Adventure,Reset the future,2598
7,286217,The Martian,7.667400,"During a manned mission to Mars, Astronaut Mar...",Drama|Adventure|Science Fiction,Bring Him Home,4572
8,211672,Minions,7.404165,"Minions Stuart, Kevin and Bob are recruited by...",Family|Animation|Adventure|Comedy,"Before Gru, they had a history of bad bosses",2893
9,150540,Inside Out,6.326804,"Growing up can be a bumpy road, and it's no ex...",Comedy|Animation|Family,Meet the little voices inside your head.,3935

In [9]:
movies['tags']=movies['overview'] +movies['genres']

In [11]:
df = movies[['id','original_title', 'tags']]

In [12]:
df.to_csv('C:/Users/Lenovo/Downloads/archive (3)/tmdb_movies_movies_dataset.csv', index=False)

In [13]:
df.head(10)

,id,original_title,tags
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...
5,281957,The Revenant,"In the 1820s, a frontiersman, Hugh Glass, sets..."
6,87101,Terminator Genisys,"The year is 2029. John Connor, leader of the r..."
7,286217,The Martian,"During a manned mission to Mars, Astronaut Mar..."
8,211672,Minions,"Minions Stuart, Kevin and Bob are recruited by..."
9,150540,Inside Out,"Growing up can be a bumpy road, and it's no ex..."

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10866 non-null  int64
 1   original_title  10866 non-null  object
 2   tags            10840 non-null  object
dtypes: int64(1), object(2)
memory usage: 254.8+ KB

In [15]:
df.describe()

                  id
count   10866.000000
mean    66064.177434
std     92130.136561
min         5.000000
25%     10596.250000
50%     20669.000000
75%     75610.000000
max    417859.000000

In [16]:
df.isnull().sum()

id                 0
original_title     0
tags              26
dtype: int64

In [17]:
df_new=df.dropna()

In [18]:
df.columns

Index(['id', 'original_title', 'tags'], dtype='object')

In [19]:
df_new.shape

(10840, 3)

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
cv = CountVectorizer(max_features=10840, stop_words='english')

In [22]:
vector = cv.fit_transform(df_new['tags'].values.astype('U')).toarray()

In [23]:
vector.shape

(10840, 10840)

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
similarity = cosine_similarity(vector)

In [26]:
similarity

array([[1.        , 0.2057378 , 0.19802951, ..., 0.        , 0.0758098 ,
        0.        ],
       [0.2057378 , 1.        , 0.12222647, ..., 0.        , 0.16376789,
        0.        ],
       [0.19802951, 0.12222647, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.03573708,
        0.        ],
       [0.0758098 , 0.16376789, 0.        , ..., 0.03573708, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [27]:
df_new[df_new['original_title']=='Jurassic World'].index[0]

0

In [28]:
distance = sorted(list(enumerate(similarity[0])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(df_new.iloc[i[0]].original_title)

Jurassic World
The Lost World: Jurassic Park
Futureworld
Jurassic Park
The 6th Day

In [29]:
def recommend(movies):
    index= df_new[df_new['original_title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(df_new.iloc[i[0]].original_title)

In [33]:
recommend("Batman")

Leviathan
DeepStar Six
The Darkest Hour
The Rig
Body Snatchers

In [34]:
import pickle

In [35]:
pickle.dump(df_new, open('C:/Users/Lenovo/PycharmProjects/movie recommender system/movie_list.pkl','wb'))

In [36]:
pickle.dump(similarity, open('C:/Users/Lenovo/PycharmProjects/movie recommender system/similarity.pkl','wb'))

In [37]:
pickle.load(open('C:/Users/Lenovo/PycharmProjects/movie recommender system/movie_list.pkl','rb'))

,id,original_title,tags
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...
10861,21,The Endless Summer,"The Endless Summer, by Bruce Brown, is one of ..."
10862,20379,Grand Prix,Grand Prix driver Pete Aron is fired by his te...
10863,39768,Beregis Avtomobilya,An insurance agent who moonlights as a carthie...
10864,21449,"What's Up, Tiger Lily?","In comic Woody Allen's film debut, he took the..."
10865,22293,Manos: The Hands of Fate,A family gets lost on the road and stumbles up...

In [38]:
pickle.load(open('C:/Users/Lenovo/PycharmProjects/movie recommender system/similarity.pkl','rb'))

array([[1.        , 0.2057378 , 0.19802951, ..., 0.        , 0.0758098 ,
        0.        ],
       [0.2057378 , 1.        , 0.12222647, ..., 0.        , 0.16376789,
        0.        ],
       [0.19802951, 0.12222647, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.03573708,
        0.        ],
       [0.0758098 , 0.16376789, 0.        , ..., 0.03573708, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])